<section class='section'>
  <%= form_with(model: question, local: true) do |form| %>
  <%= render 'shared/errors', object: question %>
  <div class='columns'>
    <div class='field column is-three-quarters'>
      <div class='control'>
        <%= form.label 'Question' %>
        <%= form.text_field :text, class: 'input' %>
      </div>
    </div>

    <div class='field column'>
      <div class='control'>
        <label class='checkbox'>
          <%= form.check_box :adult_rating, class: 'checkbox' %>
          Adult Rating
        </label>
      </div>
    </div>
  </div><!-- columns -->

  <div class='mt-5 mb-5'>
    <%= form.submit class: button_classes %>
  </div>
  <% end %>
</section>
