<% content_for(:title, 'Questions') %>

<header>
  <h1>Questions</h1>
  <%= link_to '+ New Question', new_question_path, class: "controls #{button_class}" %>
</header>

<%= render partial: 'shared/filter_form', locals: { destination_url: questions_path } %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th></th>
      <th>Family Friendly?</th>
      <th colspan='2'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.text %></td>
        <td><%= question.adult_rating? %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td>
          <%= link_to 'Delete', question,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @questions, :page_links => false %>
