<% content_for(:title, 'Questions') %>

<%= link_to '+ New Question', new_question_path, class: button_class %>
<h1>Questions</h1>

<%#= render partial: 'shared/filter_form', locals: { destination_url: questions_path } %>

<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>Family Friendly?</th>
      <th colspan='2'>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>

    <tr>
      <td><%= question.text %></td>
      <td><%= question.family_friendly? %></td>
      <td><%= link_to 'Edit', question %></td>
      <td><%= link_to 'Delete', '/' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%#= will_paginate @questions, :page_links => false %>
