<% content_for(:title, @post_type.name) %>

<%= link_to 'Back', post_types_path, class: button_class('secondary float-right ml-2') %>
<%= link_to 'New Entry', new_post_path, class: button_class('primary float-right ml-2') %>

<h1><%= @post_type.name %></h1>

<%= render partial: 'shared/filter_form', locals: { destination_url: @post_type } %>

<% @posts.by_date.each do |post| %>
  <%= render partial: 'posts/post', locals: { post: post } %>
<% end %>

<%= will_paginate @posts, :page_links => false %>
