<p>The results are in...</p>

<h3><%= @round.number %>. <%= @round.question.text %></h3>
<h1><%= display_winner(@round) %></h1>

<ol>
  <% @round.results_by_nominee.each do |nominee, nominators| %>
  <li>
    <strong><%= nominee %>: </strong>
    <%= nominators.join(', ') %>
  </li>
  <% end %>
</ol>

<% if @round.number < Game::MAX_ROUNDS %>
  <%= link_to 'Next Question', next_round_submission(@round), class: button_block %>
<% else %>
  <%= link_to "Let's see who won the game!", game_path(@round.game), class: button_block %>
<% end %>
