<section class='section'>
  <%= form_with(model: game, local: true) do |form| %>
  <%= render 'shared/errors', object: game %>

  <div class='columns'>
    <div class='field column is-two-thirds'>
      <%= form.label 'Max Rounds' %>
      <%= form.number_field :max_rounds, min: 1, class: 'input' %>
    </div>

    <div class='field column'>
      <div class='control'>
        <label class='checkbox'>
          <%= form.check_box :adult_content_permitted, class: 'checkbox' %>
          Allow Adult Content?
        </label>
      </div>
    </div>

    <div class='field column'>
      <div class='control'>
        <label class='checkbox'>
          <%= form.check_box :players_ready, class: 'checkbox' %>
          Players Ready?
        </label>
      </div>
    </div>
  </div> <!-- columns -->

  <div class="mt-5 mb-5">
    <%= form.submit class: button_block %>
  </div>
</section>

<section class='section'>
  <table class="table is-fullwidth is-narrow">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Delete Player?</th>
      </tr>
    </thead>
    <tbody>
      <%= form.fields_for :players do |f_player| %>
      <tr>
        <td><%= f_player.text_field :name, class: 'input' %></td>
        <td><%= f_player.check_box :_destroy if f_player.object.persisted? %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <%= form.submit class: button_block %>
  <% end %>
</section>
