<% content_for(:title, "Games") %>

<section class='section'>
  <div class='level'>
    <div class='level-left'></div>
    <div class='level-right'>
      <%= link_to '+ New Game', new_game_path, class: "level-item mb-3 #{button_classes}" %>
    </div>
  </div>
</section>

<section class='section'>
  <% if @current_games.any? %>
  <h2 class='title is-2'>Current Games</h2>

  <% @current_games.each do |game| %>
  <div class="tile is-ancestor">
    <div class="tile is-12">
      <div class="tile is-parent">
        <article class="tile is-child notification is-light">
          <div class="level">
            <p class="title level-left"><%= game.code %>: <%= game.date %></p>
            <div class='level-right'>
              <%= link_to 'Edit', edit_game_path(game), class: "mr-2 #{button_classes('is-info')}" %>
              <%= link_to 'Delete', game, method: :delete, data: {confirm: 'are you sure?'}, class: button_classes('is-danger') %>
            </div>
          </div>

          <div class="content">
            <p>Share Link: <%= link_to join_game_url, join_game_url %></p>
            <p>
              Adult Content? <%= boolean_check_or_x(game.adult_content_permitted?) %> |
              Players Ready? <%= boolean_check_or_x(game.players_ready?) %> |
              Game Over? <%= boolean_check_or_x(game.complete?) %>
            </p>
            <p>Players: <%= display_player_names(game) if game.players.any? %></p>
            <p>Questions:</p>
            <ol>
              <% game.rounds.each do |round| %>
              <li>
                <%= round.question.text %>
                <% if round.winner.present? %>
                | <%= link_to 'see results', game_round_path(game, round) %>
                <% end %>
              </li>
              <% end %>
            </ol>
          </div>
        </article>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</section>

<section class='section'>
  <h2 class='title is-2'>Past Games</h2>
  <table class="<%= table_classes %>">
    <thead>
      <tr>
        <th>Date Played</th>
        <th>Game Code</th>
        <th>Players</th>
        <th>Players Ready?</th>
        <th>Game Complete?</th>
        <th colspan='2'>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @past_games.each do |game| %>
      <tr>
        <td><%= game.date %></td>
        <td><%= link_to game.code, game %></td>
        <td><%= display_player_names(game) %></td>
        <td><%= boolean_check_or_x(game.players_ready?) %></td>
        <td><%= boolean_check_or_x(game.complete?) %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Delete', game, method: :delete, data: {confirm: 'are you sure?'} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class='section'>
  <%= will_paginate @past_games, :page_links => false %>
</section>
