<% content_for(:title, 'New Game') %>

<section class='section'>
  <header class='level'>
    <h1 class='title is-1 level-left'>New Game</h1>
    <%= link_to 'Cancel', games_path, class: "level-right #{button_classes('is-primary')}" %>
  </header>
</section>

<%#= render 'form', game: @game %>

<section class='section'>
  <%= form_with(model: @game, local: true) do |form| %>
  <%= render 'shared/errors', object: @game %>

  <div class='columns'>
    <div class='field column is-one-third'>
      <%= form.label 'Max Rounds' %>
      <%= form.number_field :max_rounds, min: 1, class: 'input' %>
    </div>

    <div class='field column'>
      <div class='control'>
        <label class='checkbox'>
          <%= form.check_box :adult_content_permitted, class: 'checkbox' %>
          Allow Adult Content?
        </label>
      </div>
    </div>

    <div class='field column'>
      <div class='control'>
        <label class='checkbox'>
          <%= form.check_box :players_ready, class: 'checkbox' %>
          Players Ready?
        </label>
      </div>
    </div>
  </div> <!-- columns -->

  <div class="field">
    <%= form.label 'Decks' %>
    <%= form.collection_check_boxes :deck_ids, form_decks(current_user), :id, :name do |r| %>
      <div class='form-check'>
        <%= r.check_box class: 'form-check-input' %>
        <%= r.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="mt-5 mb-5">
    <%= form.submit class: button_classes %>
  </div>
  <% end %>
</section>
