<% content_for(:title, "Game #{@game.date}") %>

<header>
  <h1>Game on <%= @game.date %></h1>
  <%= link_to 'Back', games_path, class: "controls #{button_class}" %>
</header>

<h3>Players</h3>
<%= link_to '+ Edit Players', edit_game_path(@game) %>
<p><%= display_players(@game) %></p>

<h3>Rounds</h3>
<p>WIP</p>

<h3>TEMP: Questions</h3>
<ol>
  <% @game.questions.each do |question| %>
  <li>
    <%= question.text %>
  </li>
  <% end %>
</ol>
