<% content_for(:title, "Game #{@game.date}") %>

<header>
  <%= link_to 'Back to Games Index', games_path, class: "controls mb-5 #{button_class}" if current_user.present? %>
</header>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">and the winner is...</p>
    <h1 class="display-4"><%= display_winner(@game) %></h1>
  </div>
</div>

<h3>a recap of winners by round:</h3>
<% @game.rounds.each do |round| %>
  <h4><%= round.number %>. <%= round.question.text %></h4>
  <p>
    <% if round.winner.nil? %>
      It was a tie
    <% else %>
      <%= round.winner.name %>
    <% end %>
  </p>
<% end %>
