<div class='centered'>
  <h1 class='title branded'><%= @player&.name %>, cast your vote!</h1>
  <p>Question <%= display_current_round_of_total(@round) %></p>
  <h2 class='title is-2'><%= @round.question.text %></h2>

  <%= form_with(model: [@game, @round, @submission], local: true) do |form| %>
    <%= render 'shared/errors', object: @submission %>

    <div class='field'>
      <%= form.label 'Select a Player' %>
      <br>
      <div class='select is-large'>
        <%= form.collection_select :candidate_id, @game.players, :id, :name, {}, class: 'select' %>
      </div>
    </div>

    <% if @player.nil? %>
      <div class='field'>
        <%= form.label 'Please Select Your Name' %>
        <%= form.collection_select :voter_id, @game.players, :id, :name, {}, class: 'input' %>
      </div>
    <% end %>

    <div class="mt-5 mb-5">
      <%= form.submit 'Submit Your Vote!', class: button_classes %>
    </div>
  <% end %>
</div>
