<%= form_with(model: [@game, @player], local: true) do |form| %>
  <%= render 'shared/errors', object: @player %>

  <div class='field'>
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true, placeholder: 'Enter your name', onblur: 'storePlayerName()', id: 'name-field', class: 'form-control' %>
  </div>

  <div class="mt-5 mb-5">
    <%= form.submit 'Submit', class: 'btn btn-outline-primary btn-block' %>
  </div>
<% end %>

<script>
  function storePlayerName(){
    let nameField = document.getElementById('name-field')
    console.log(nameField.value);
    localStorage.setItem('player_name', nameField.value);
    localStorage.setItem('game_id', "<%= @game.id %>");
  }
</script>
