<%= form_with(model: @player, local: true) do |form| %>
  <%= render 'shared/errors', object: @player %>

  <div class='field'>
    <%= form.label :game_code %>
    <%= form.text_field :game_code, autofocus: true, placeholder: 'Ex: HMJY', class: 'form-control' %>
  </div>

  <div class='field'>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: 'Enter your name', class: 'form-control' %>
  </div>

  <div class="mt-5 mb-5">
    <%= form.submit 'Submit', class: 'btn btn-outline-primary btn-block' %>
  </div>
<% end %>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let cookieNotice = localStorage.getItem('cookie_notice')
    if (cookieNotice != 'true') {
      alert("Hi there! This site uses a cookie to remember your name. We delete it at the end of each game. Have fun, y'all!")
      localStorage.setItem('cookie_notice', 'true');
    }
  })
</script>
