<li class="nav-item">
  <%= link_to '+ New Entry', new_post_path, class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    By Type
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% current_user.post_types.each do |type| %>
      <%= link_to type.name, post_type_path(type), class: "dropdown-item #{type.name.downcase}-nav-item" if type.persisted? %>
    <% end %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    By Year
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% Report.available_years.each do |year| %>
      <%= link_to year, posts_path(given_year: year), class: 'dropdown-item' %>
    <% end %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Fancy Views
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Word Cloud', word_cloud_path, class: 'dropdown-item' %>
    <%= link_to "New Year's Eve", new_years_eve_path, class: 'dropdown-item' %>
    <div class='dropdown-divider'></div>
    <%= link_to 'Raise Prep', raise_prep_index_path, class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to 'Post Types', post_types_path, class: 'dropdown-item' %>
    <%= link_to 'Categories', categories_path, class: 'dropdown-item' %>
  </div>
</li>
